@font-face {
  font-family: 'font1';
  src: url('font/Hulahoy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font2';
  src: url('font/Type\ Machine.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: url('../images/map/wave.gif') repeat;
  background-size: auto;
  font-family: 'font1';
  margin: 0px;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 10px;
}

h2 {
  margin: 0px;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  color: white;
}

h3 {
  margin: 6px 0px;
}


.Hover img {
  padding: 2px;
  max-width: 210px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  /* Transition pour la transparence */
}


/* Superposition de la carte et du SVG */
.map-stack {
  position: relative;
  width: 100%;
  max-width: 1500px;
  /* adapte à la taille de ta carte */
  margin: 0 auto;
  height: auto;
}

.map-image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 25px;
  position: relative;
  z-index: 1;
}

.svg-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  transition: opacity 0.3s ease;
  /* on active sur les paths ensuite */
  z-index: 2;
}

/* Modal pays */
.map-modal {
  font-family: 'font2';
  overflow: auto;
  position: fixed;
  top: 0;
  width: 350px;
  height: 100%;
  background: #222;
  color: #fff;
  box-shadow: -4px 0 16px rgba(0, 0, 0, 0.4);
  padding: 32px 24px 24px 24px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: left 0.4s cubic-bezier(.77, .2, .05, 1), right 0.4s cubic-bezier(.77, .2, .05, 1);
}

/* Positionnement à droite (par défaut) */
.map-modal.side-right {
  right: -400px;
  left: auto;
}

.map-modal.side-right.open {
  right: 0;
  left: auto;
}

/* Positionnement à gauche */
.map-modal.side-left {
  left: -400px;
  right: auto;
}

.map-modal.side-left.open {
  left: 0;
  right: auto;
}

.modal-flag {
  width: 100%;
  margin-bottom: 12px;
}

.modal-link {
  font-family: 'font2';
  text-align: center;
  margin-top: 15px;
  margin-bottom: 55px;
  padding: 10px 24px;
  background: #ffd700;
  color: #222;
  border: none;
  border-radius: 6px;
  font-size: 1.1em;
  cursor: pointer;
  font-weight: bold;
  transition: all ease 0.3s;
}

.modal-link:hover {
  background: #fcd333;
  transform: scale(1.05);
}

.modal-accords-tab {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: 2px solid #ccc;
  padding: 20px;
  z-index: 1001;
  width: 350px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
}

.accords-dropdown {
  position: static;
  width: 100%;
  background: #000000;
  color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 12px 10px 10px 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: none;
  animation: dropdownFade 0.3s;
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.open-accords-tab {
  margin: 6px 0;
  padding: 7px 7px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  background: #dab900;
  color: #222;
  transition: all 0.3s ease;
  font-weight: bold;
  position: relative;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.open-accords-tab .arrow {
  transition: all 0.3s ease;
}

.open-accords-tab .arrow img {
  height: 30px;
}

.open-accords-tab.side-right .arrow {
  transform: rotate(180deg);
}

.open-accords-tab.side-right.open .arrow {
  transform: rotate(0deg);
}

.open-accords-tab.side-left .arrow {
  transform: rotate(0deg);
}

.open-accords-tab.side-left.open .arrow {
  transform: rotate(180deg);
}

.open-accords-tab:hover {
  background: #ffd700;
  transform: scale(1.05);
}

.close-accords-tab {
  margin-bottom: 12px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 6px;
  border: none;
  background: #dab900;
  color: #222;
  transition: all 0.3s ease;
  font-weight: bold;
}

.close-accords-tab:hover {
  background: #ffd700;
  transform: scale(1.05);
}

.accords-modal {
  font-family: 'font2';
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 400px;
  min-height: 180px;
  max-height: 90%;
  background: #1f1f1f;
  color: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.8);
  padding: 24px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: left 0.4s cubic-bezier(.77, .2, .05, 1),
    right 0.4s cubic-bezier(.77, .2, .05, 1);
  opacity: 0;
  pointer-events: none;
}


.accords-modal.side-right {
  right: -400px;
  left: auto;
}

.accords-modal.side-right.open {
  right: 390px;
  left: auto;
  opacity: 1;
  pointer-events: auto;
}

/* Positionnement à gauche */
.accords-modal.side-left {
  left: -400px;
  right: auto;
}

.accords-modal.side-left.open {
  left: 390px;
  right: auto;
  opacity: 1;
  pointer-events: auto;
}

#modalAccordsContent {
  width: 100%;
  height: 100%;
  padding-right: 15px;

  overflow-y: auto;
}

/* Styles pour les accords */
.accord-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #444;
}

.accord-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.accord-details {
  display: flex;
}

.accord-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accord-info p {
  font-size: 0.9em;
  font-style: italic;
  margin: 6px;
}

.accord-info h4 {
  font-size: 1.2em;
  margin: 6px;
}


.accord-image {
  max-width: 85px;
  margin: 5px;
  object-fit: cover;
  border-radius: 8px;
}

.accord-flags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.accord-flag {
  max-height: 35px;
}

.accord-icon {
  max-height: 25px;
}